body {
    background-color: #fffbe7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* 이모티콘 효과 */
figure:active {
    position: relative;
    top:4px;
}
/* 추가된 CSS 스타일 */
#buttonSet {
    display: flex; /* 버튼을 가로로 정렬하기 위해 Flexbox를 사용합니다. */
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬합니다. */
}



/*---------------------------------------*/


.btn {
    margin-right: 10px; /* 버튼들 사이의 간격을 조정합니다. */
}

.logo {
    font-size: 24px;
    margin-right: auto; /* 로고를 왼쪽으로 정렬합니다. */
}

nav {
    margin-right: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.login-btn {
    margin-right: 10px;
}

.my-account-btn {
    margin-left: auto; /* 내 정보 버튼을 오른쪽으로 정렬합니다. */
}


section {
    padding: 20px;
    margin: 20px auto;
    width: 100%; /* 너비를 100%로 설정하여 화면을 가득 채움 */
    overflow: auto; /* 섹션이 내용을 넘어갈 경우 스크롤 표시 */
    text-align: center; /* 텍스트를 가운데 정렬 */
}



#section5 {
    background-color: #f4f2e6;
    box-shadow: 0px 0px 80px 20px rgba(0, 0, 0, 0.1); /* 옆에 옅은 그림자 추가 */
    font-family: "Nanum Myeongjo", serif;
    font-weight: 800;
    font-style: normal;
}

#section5 h2 {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    margin: 0;
    line-height: 1.5; /* 원하는 줄 간격 값으로 설정 */
}

#section5 p1 {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
    margin: 5px 0;
}


section h2 {
    margin-top: 0;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

section p {
    margin-bottom: 0;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}


.image-container {
    text-align: center; /* 이미지를 가운데로 정렬합니다. */
}

.image-container img {
    display: inline-block; /* 이미지를 가로로 배열합니다. */
    vertical-align: middle; /* 이미지를 수직 가운데로 정렬합니다. */
    width: 70px; /* 이미지의 너비를 조정합니다. */
    height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
    margin: 0 10px; /* 이미지 사이의 간격을 조정합니다. */
}

#section3 {
    margin-bottom: 20px; /* 섹션 아래 여백을 추가합니다. */
}

.sub-section-container {
    display: flex; /* 하위 섹션들을 가로로 정렬합니다. */
    justify-content: space-between;
    margin-top: 10px; /* 섹션과 하위 섹션 컨테이너 사이의 간격을 조절합니다. */
}

.sub-section {
    flex-basis: 30%;
    border-right: 1px solid #ccc;
    padding: 0 10px;
}

.sub-section:last-child {
    border-right: none;
}

.sub-section img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.comment-container {
    max-width: 80%; /* 최대 가로 너비를 조정합니다. */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 섹션을 수직 방향으로 가운데 정렬합니다. */
    text-align: center; /* 하위 요소들을 가로 방향으로 가운데 정렬합니다. */
}


.comment-form textarea {
    width: 450px;
    height: 100px;
    margin-bottom: 10px;
}

.comment-list {
    margin-top: 20px;
    padding: 10px; /* 내부 여백을 줄입니다. */
    max-width: 70%; /* 최대 가로 너비를 조정합니다. */
    display: flex;
    flex-direction: column;
    align-items: center; /* 섹션을 수직 방향으로 가운데 정렬합니다. */
    text-align: left; /* 하위 요소들을 가로 방향으로 가운데 정렬합니다. */
    margin: 0 auto; /* 섹션을 수평 방향으로 가운데 정렬합니다. */
}


.comment {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 400px;
    max-width: 100%; /* 최대 가로 너비를 조정합니다. */
}

.comment p {
    margin: 0;
}

.comment-author {
    font-weight: bold;
    font-weight: bold; /* 작성자 이름을 굵게 표시 */
    color: #333; /* 작성자 이름의 색상 변경 */
}

.comment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-content {
    flex: 1;
    margin-bottom: 10px; /* 아래 여백 추가 */
}

.comment-buttons {
    margin-left: 70%;
    margin-top: 5px; /* 버튼을 아래로 조금 내림 */
    display: flex; /* 버튼들을 가로로 정렬하기 위해 Flexbox 사용 */
    justify-content: flex-end; /* 버튼들을 오른쪽으로 정렬 */
    margin-top: 5px; /* 위쪽 여백 추가 */
}

.comment-buttons button {
    margin-left: 5px; /* 버튼 사이의 간격 조절 */
    padding: 5px 10px; /* 내부 여백 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 테두리 둥글기 설정 */
    cursor: pointer; /* 커서 모양 변경 */
    background-color: #abc695; /* 초록색 배경색 설정 */
    color: #fff; /* 글자색 설정 */
}

.comment-buttons button:hover {
    opacity: 0.8; /* 호버 시 투명도 변경 */
    color: #fff; /* 글자색 변경 */
}

/*comment*/

.comment {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 100%; /* 최대 가로 너비를 조정합니다. */

}

.comment-textarea {
    width: calc(100% - 20px); /* 부모 요소의 padding 값(10px * 2)을 제외한 너비 */
}

.comment-content {
    position: relative;
}

.comment-text {
    position: relative;
    bottom: 5px;
    top: 5px;

}

.comment-buttons {
    position: relative;
    bottom: 10px;
    left: 10px;
    top : 5px;
    

}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.page-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #95bf97;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-right: 5px;
}

.page-link:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
}
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.comment-form input[type="submit"] {
    background-color: #6aae6c; /* 버튼 배경색 */
    border: none; /* 테두리 없음 */
    color: white; /* 글자색 */
    padding: 15px 32px; /* 내부 여백 */
    text-align: center; /* 가운데 정렬 */
    text-decoration: none; /* 밑줄 없음 */
    display: inline-block;
    font-size: 16px; /* 글자 크기 */
    margin: 4px 2px; /* 바깥쪽 여백 */
    cursor: pointer; /* 커서 모양 변경 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
}

.comment-form input[type="submit"]:hover {
    background-color: #45a049; /* 호버 시 배경색 변경 */
}

textarea[name="comment"] {
    background-color: rgb(252, 252, 234);
}


my-title {
    padding: 20px;
    margin: 1000px auto 20px; /* 위쪽 여백을 40px로 늘리고, 아래쪽 여백을 20px로 줄입니다. */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* 너비를 100%로 설정하여 화면을 가득 채움 */
    max-width: calc(100% - 40px); /* 최대 너비 설정 (화면 가로 폭에서 좌우 20px의 여백 제외) */
    max-height: 1000px; /* 최대 높이 설정 */
    overflow: auto; /* 섹션이 내용을 넘어갈 경우 스크롤 표시 */
    text-align: center; /* 텍스트를 가운데 정렬 */
}

my-title h2 {
    margin-top: 0;
    font-size: 60px;
}

.upper_blank {
    height: 300px;
    background: yellowgreen;
    text-align: center;
    padding-top: 200px;
}

.conunt-container {
    padding: 10px; /* 요소들과 테두리 사이의 간격 조정 */
    margin: 20px auto;
    width: 600px; /* 테두리의 가로 길이를 더 넓힘 */
    display: flex; /* Flexbox를 사용하여 요소들을 가로로 정렬 */
    flex-wrap: wrap; /* 요소들이 가로로 넘칠 경우 줄 바꿈 처리 */
}

.num-container {
    border: 1px solid #ccc; /* 테두리 추가 */
    padding: 10px; /* 테두리 내부 간격 조정 */
    width: 100%; /* 너비를 100%로 설정하여 가로 정렬 유지 */
    box-sizing: border-box; /* 테두리까지 포함한 너비 설정 */
}

.num-item {
    margin-bottom: 10px; /* 각 num-item 요소 사이의 간격 조정 */
    flex: 0 0 30%; /* 요소의 너비를 30%로 설정하여 가로로 정렬 */
}

.sub-title {
    font: 14px/1 'arial';
    color: gray;
}

.nums {
    font-size: 18px; /* 숫자의 글꼴 크기 조정 */
}

#num-unit {
    font-size: 14px; /* 숫자 단위의 글꼴 크기 조정 */
}


.num-item {
    margin-bottom: 10px; /* 각 num-item 요소 사이의 간격 조정 */
    flex: 0 0 30%; /* 요소의 너비를 30%로 설정하여 가로로 정렬 */
}

.in-title {
    font-size: 30px; /* 제목의 글꼴 크기 조정 */
}

.nums {
    font-size: 70px; /* 숫자의 글꼴 크기 조정 */
}

#num-unit {
    font-size: 25px; /* 숫자 단위의 글꼴 크기 조정 */
}




.edit-form {
    margin-top: 10px; /* 수정 폼과 기존 댓글 사이의 간격 조절 */
}

.edit-content {
    width: 100%; /* 너비를 100%로 설정하여 가로 정렬 */
    height: 100px; /* 높이를 조절하세요 */
    margin-bottom: 10px; /* 아래쪽 여백 조절 */
    padding: 5px; /* 내부 여백 조절 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 둥글기 설정 */
}

.button-container {
    text-align: right; /* 버튼을 오른쪽으로 정렬 */
}

.edit-form button {
    padding: 8px 16px; /* 내부 여백 설정 */
    margin-right: 5px; /* 우측 여백 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 테두리 둥글기 설정 */
    cursor: pointer; /* 커서 모양 변경 */
    background-color: #abc695; /* 배경색 설정 */
    color: #fff; /* 글자색 설정 */
}

.edit-form button:hover {
    background-color: #45a049; /* 호버 시 배경색 변경 */
    color: #fff; /* 글자색 변경 */
}

textarea.edit-content {
    background-color: rgb(252, 252, 234);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 이미지를 수평 가운데 정렬 */
    align-items: center; /* 이미지를 수직 가운데 정렬 */
}

figure {
    display: inline-block;
    text-align: center; /* 이미지 이름을 가운데 정렬 */
    margin: 10px; /* 이미지와 이미지 이름 간의 간격 조절 */
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

figure:hover {
    transform: scale(1.1);
}



.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px; /* 너비 변경 */
    height: 490px; /* 높이 변경 */
    background-color: white;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.graph-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 670px; /* 변경된 너비 */
    height: 490px; 
    background-color: white;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.graph-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.info {
    margin-top: 0;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.662);
}











